In [1]:
import pandas as pd
import numpy as np
import sys
import warnings
sys.path.append("../scripts")
from data_spliter import *

warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('../data/clean_abtest_data.csv')
df.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,6,Chrome Mobile WebView,0,1
1,008aafdf-deef-4482-8fec-d98e3da054da,exposed,2020-07-04,16,Generic Smartphone,6,Chrome Mobile,1,0
2,00a1384a-5118-4d1b-925b-6cdada50318d,exposed,2020-07-06,8,Generic Smartphone,6,Chrome Mobile,0,1
3,00b6fadb-10bd-49e3-a778-290da82f7a8d,control,2020-07-08,4,Samsung SM-A202F,6,Facebook,1,0
4,00ebf4a8-060f-4b99-93ac-c62724399483,control,2020-07-03,15,Generic Smartphone,6,Chrome Mobile,0,1

In [3]:
# checking the list of unique values in platform 
platform_type = df['platform_os'].value_counts().index.tolist()
platform_type

[6, 5]

In [4]:
browser_type = df['browser'].value_counts().index.tolist()[:3]
browser_type

['Chrome Mobile', 'Chrome Mobile WebView', 'Facebook']

In [5]:
brow_df = data_split(df,'browser',browser_type)
plat_df = data_split(df,'platform_os',platform_type)

plat_5_data = plat_df[0].drop(['platform_os', 'no'],axis=1)
plat_6_data = plat_df[1].drop(['platform_os','no'],axis=1)

chrome_data = brow_df[0].drop(['browser','no'],axis=1)
chrome_webview_data = brow_df[1].drop(['browser','no'],axis=1)
facebook_data = brow_df[2].drop(['browser','no'],axis=1)

In [6]:
plat_5_data.to_csv('../data/platform_5.csv',index=False)
plat_6_data.to_csv('../data/platform_6.csv',index=False)
facebook_data.to_csv('../data/facebook_data.csv',index=False)
chrome_data.to_csv('../data/chrome_data.csv',index=False)
chrome_webview_data.to_csv('../data/chrome_webview_data.csv',index=False)

In [7]:
plat_5_data.head()

,auction_id,experiment,date,hour,device_make,browser,yes
0,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,Chrome Mobile WebView,0
1,008aafdf-deef-4482-8fec-d98e3da054da,exposed,2020-07-04,16,Generic Smartphone,Chrome Mobile,1
2,00a1384a-5118-4d1b-925b-6cdada50318d,exposed,2020-07-06,8,Generic Smartphone,Chrome Mobile,0
3,00b6fadb-10bd-49e3-a778-290da82f7a8d,control,2020-07-08,4,Samsung SM-A202F,Facebook,1
4,00ebf4a8-060f-4b99-93ac-c62724399483,control,2020-07-03,15,Generic Smartphone,Chrome Mobile,0

In [8]:
plat_6_data.head()

,auction_id,experiment,date,hour,device_make,browser,yes
159,23b2028c-72ed-43b3-a2d7-d772b2d4d478,exposed,2020-07-03,8,iPhone,Mobile Safari,0
371,54a62f37-0c4d-4300-a063-1c6aa99244e5,control,2020-07-03,15,iPhone,Mobile Safari,0
372,54a68ad2-eed9-408e-9088-ddecfa64b0fd,control,2020-07-03,15,iPhone,Mobile Safari UI/WKWebView,0
467,688aaac1-535e-417a-a8d4-a529b033cbfa,control,2020-07-04,3,iPhone,Mobile Safari,1
558,7c003bed-32c3-4236-abf0-f571debe769b,exposed,2020-07-05,3,iPhone,Mobile Safari,1

In [9]:
facebook_data.head()

,auction_id,experiment,date,hour,device_make,platform_os,yes
3,00b6fadb-10bd-49e3-a778-290da82f7a8d,control,2020-07-08,4,Samsung SM-A202F,6,1
10,023458f7-122d-475f-9525-1b9a3cc7a033,control,2020-07-03,15,MRD-LX1,6,0
11,023ec7b5-cb8f-49a5-995f-e0d7c2f702e5,exposed,2020-07-09,13,Samsung SM-G935F,6,1
19,03948b84-b5b1-4f26-81fc-e953218aef1a,control,2020-07-09,20,Samsung SM-G930F,6,1
25,04bb7622-8ac6-4cf8-bbab-31cd31698fe7,control,2020-07-03,15,Samsung SM-G973F,6,0

###############################################################

# Logistic Regression

In [10]:
import math
import matplotlib.pyplot as plt


from Ml_Process import ML_process as MLP
from models import ML_Models
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import FunctionTransformer
from sklearn.model_selection import KFold
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score,train_test_split
from sklearn.metrics import mean_squared_error,mean_absolute_error, r2_score

2022/09/03 20:50:38 INFO mlflow.tracking.fluent: Experiment with name 'different machine learning algorithms' does not exist. Creating a new experiment.

In [11]:
mlp = MLP()
mlm = ML_Models()

In [12]:
chrome_data =  pd.read_csv('../data/chrome_data.csv')
chrome_webview_data =  pd.read_csv('../data/chrome_webview_data.csv')
facebook_data =  pd.read_csv('../data/facebook_data.csv')
plat_5_data =  pd.read_csv('../data/platform_5.csv')
plat_6_data =  pd.read_csv('../data/platform_6.csv')

In [13]:
cat2, num2 = mlp.sep_cat_num(chrome_data)
cat3, num3 = mlp.sep_cat_num(chrome_webview_data)
cat4, num4 = mlp.sep_cat_num(facebook_data)
cat5, num5 = mlp.sep_cat_num(plat_5_data)
cat6, num6 = mlp.sep_cat_num(plat_6_data)

In [14]:
chrome_data[cat2].describe()

,auction_id,experiment,date,device_make
count,695,695,695,695
unique,695,2,8,14
top,008aafdf-deef-4482-8fec-d98e3da054da,exposed,2020-07-03,Generic Smartphone
freq,1,371,176,665